#noconnect{
    width: 70%;
    align-content:center;
}
#disconnect{
    text-align:center;
    height: 100% !important;
}
#load{
    width: 70%;
    align-content:center;
}
#loader{
    text-align:center;
    background: -webkit-linear-gradient(top, #848484, #1d1d1d) !important;
    height: 100%;
}
#loadText{
    font: bold 2.5em Calibri, Arial, Verdana, sans-serif !important;
    color: #f0f0f0 !important;
    bottom: 0 !important;
    text-align: center !important;
}
/*Custom Buttons*/

#menuNav img, #homeNav img{
    width: 40px;
}
#menuNav, #homeNav{
    padding: 2px 5px !important;
}

#sectionTitle{
    font: bold 1.2em Calibri, Arial, Verdana, sans-serif !important;
    text-overflow: ellipsis !important;
    padding: 0 !important;
    margin: 10px auto 20px !important;
    text-shadow: none !important;
    color: #484848 !important;
}
#subTitle{
    font: .8em Calibri, Arial, Verdana, sans-serif !important;
    padding: 0 !important;
    margin: 0 auto 5px !important;
    text-shadow: none !important;
    color: #484848 !important;
}
#left-panel span{
    font: .6em Calibri, Arial, Verdana, sans-serif !important;
}
#left-panel p{
    font: bold 1.6em Calibri, Arial, Verdana, sans-serif !important;
    color: rgba(0, 185, 50, 0.85);
}

.ui-collapsible-heading .ui-btn-text {
    font: .6em Calibri, Arial, Verdana, sans-serif !important;      
}
.media{
    width: 100%;
    height: 100%;
    
}
#logo{
	right: .5em;
    bottom: .5em;
	width: 5em;
	height: 1em;
    position: absolute;
    cursor: pointer;
}
/*.lessonTitle{
	text-align: left;
	font-size: 1em;
	padding-left: 1.5em;
}*/

#homeButton{
	float: right;
}
/*.ui-li-thumb{
    margin-top: 1em;
    opacity: .8;
    position: absolute;
}*/
span{
	white-space: normal;
    font: bold 1.1em Calibri, Arial, Verdana, sans-serif;
}

.lesson .ui-btn-text .ui-li-desc {
    padding-top: .4em;
    padding-left: .5em;
	font: .9em Calibri, Arial, Verdana, sans-serif;
    white-space: normal;
}

.ui-block-a{
    height: 2em;   
}
.ui-input-text.ui-body-c{
	margin: .5em 0;
	padding: 0 .4em;
}

.ui-header .ui-title{
	/*text-align: left !important;*/
	/*min-height: 2.5em;*/
	font: bold 1em Calibri, Arial, Verdana, sans-serif !important;
    /*padding-right: .2em !important;*/
	padding-left: 1em !important;
	margin: .6em 2.5em !important;
	text-overflow: ellipsis !important;
}
#logButton, #menuButton{
    zoom: 1;   
}
#submit{
    width: 12em;   
}
.ui-icon-nodisc{
    zoom: 1;   
}

/*News Pages*/

.feature img{
    max-width: 80%;
    display: block;
    position: relative;
    margin: 10px auto 10px;   
}
/*.feature p{
    font: 1em Calibri, Arial, Verdana, sans-serif !important;
}*/

/*#slideLeft{
    -webkit-border-radius: 0 5px 5px 0;
    position:absolute;
    margin-top: 1.2em;
    padding: 1em .2em;
    left:0;
    color: #7b7b7b;
}
#slideRight{
    -webkit-border-radius: 5px 0 0 5px !important;
    position:absolute;
    margin-top: 1.2em;
    padding: 1em .2em;
    right: 0;
    color: #7b7b7b;
}*/
.ui-collapsible-content{
    background: -webkit-linear-gradient(top, #fcfcfc, #ededed) !important;   
}
h1, h2, h3, h4, h5, h6, p{
    font-family: Calibri, Arial, Verdana, sans-serif !important;
}
span .ui-icon .ui-icon-plus{
    zoom: .6;   
}
.ui-link{
    text-decoration:none; 
    background: -webkit-linear-gradient(top, #fafafa, #efefef);
    -webkit-box-shadow: 0 0 2px #4a4a4a;
    border-radius: 5px;
    padding: .2em;
    
}

#log * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Arrow only buttons in the header. */
/*#log .ui-header .ui-btn {
    background: none;
    border: none;
    top: 9px;
}*/
#log .ui-header .ui-btn-inner {
    border: none;
}
/* Panels */
.ui-panel-inner{
    padding: 5px !important;   
}

/* Maps */
#maps, #mapsContent,.ui-panel-content-wrap.ui-body-c.ui-panel-animate.ui-panel-content-wrap-closed { 
    width: 100%; 
    height: 100%; 
    padding: 0; 
}

.app .ui-listview li .ui-btn p {
    color: #939393 !important;
}
.app .ui-listview li .ui-li-aside {
    color: rgb(0, 185, 50) !important;
    width: 30% !important;
}

.app .ui-listview li p {
    color: rgb(183, 183, 183) !important;
}
/* First breakpoint is 48em (768px). 3 column layout. Tiles 250x250 pixels incl. margin at the breakpoint. */
@media ( min-width: 48em ) {
    
    /*Custom Buttons*/
    #menuNav img, #homeNav img{
        width: 55px;
    }
    #sectionTitle{
        font-size: 2em !important;
    }
    #subTitle{
        font-size: 1.4em !important;
    }
    .app .ui-content {
        padding: 9px;
    }
    .app .ui-listview:not(#listLeft) .ui-li.ui-btn {
        float: left;
        width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
        height: 232px;
        margin: 9px 1.2%;
        border-width: 0; /* The 1px border would break the layout so we set it on .ui-btn-inner instead. */
    }
    
    /* If you don't want a border at all, just set "border: none;" here to negate the semi white top border */
    .app .ui-listview:not(#listLeft) .ui-li.ui-btn-inner {
        border: inherit;
        border-width: 1px;
        margin: -1px;
    }
    .app .ui-listview:not(#listLeft) .ui-btn-inner,
    .app .ui-listview:not(#listLeft) .ui-btn-text,
    .app .ui-listview:not(#listLeft) .ui-link-inherit,
    .app .ui-listview:not(#listLeft) .ui-li-thumb {
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
    }
    .app .ui-listview:not(#listLeft) .ui-link-inherit {
        padding: 0 !important;
        position: relative;
    }
    /* Inherit the border-radius from the UL that has class .ui-corner-all in case of an inset listview. */
    .app .ui-listview:not(#listLeft) .ui-li,
    .app .ui-listview:not(#listLeft) .ui-btn-text,
    .app .ui-listview:not(#listLeft) .ui-link-inherit,
    .app .ui-listview:not(#listLeft) .ui-li-thumb {
        -webkit-border-radius: inherit;
        border-radius: inherit;
    }
    .app .ui-listview:not(#listLeft) .ui-li-thumb {
        height: auto; /* To keep aspect ratio. */
        max-width: 100%;
        max-height: none;
        margin: 0;
        left: 0;
        z-index: -1;
    }
    /* Hide the icon */
    .app .ui-listview:not(#listLeft) .ui-icon {
        display: none;
    }
    /* Make text wrap. */
    .app .ui-listview:not(#listLeft) .ui-li-heading,
    .app .ui-listview:not(#listLeft) .ui-li-desc {
        /*white-space: normal;
        overflow: visible;*/
        position: absolute;
        left: 0;
        right: 0;
        color: #ededed;
        text-shadow: none;
    }
    /* Text position */
    .app .ui-listview:not(#listLeft) .ui-li-heading {
        margin: 0;
        padding: 20px;
        bottom: 50%;
    }
    .app .ui-listview:not(#listLeft) .ui-li-desc {
        margin: 0;
        padding: 0 20px;
        min-height: 50%;
        bottom: 0;
        line-height: 1.5;
    }
    /* Semi transparent background and different position if there is a thumb */
    .ui-listview:not(#listLeft) .ui-li-has-thumb .ui-li-heading,
    .ui-listview:not(#listLeft) .ui-li-has-thumb .ui-li-desc {
        background: #383838;
        background: rgba(20, 20, 20, 0.7);
        -webkit-background-clip: padding;
        background-clip: padding-box;
    }
    .ui-listview:not(#listLeft) .ui-li-has-thumb .ui-li-heading {
        padding: 10px;
        bottom: 20%;
    }
    .ui-listview:not(#listLeft) .ui-li-has-thumb .ui-li-desc {
        padding: 0 10px;
        min-height: 20%;
        -webkit-border-bottom-left-radius: inherit;
        border-bottom-left-radius: inherit;
        -webkit-border-bottom-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    /* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
    .app .ui-listview:not(#listLeft) .ui-li-desc.ui-li-aside {
        padding: 2px 10px;
        width: auto;
        min-height: 0;
        top: 0;
        left: auto;
        bottom: auto;
        /* Custom styling. */
        color: #00b932;
        background: none/*rgb(0, 185, 50)*/;
        background: none/*rgba(0, 185, 50, .85)*/;
        -webkit-border-top-right-radius: inherit;
        border-top-right-radius: inherit;
        -webkit-border-bottom-left-radius: inherit;
        border-bottom-left-radius: inherit;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    /* If you want to add shadow, don't kill the focus style. */
    .app .ui-listview:not(#listLeft) .ui-btn:not(.ui-focus) {
        -moz-box-shadow: 0px 0px 9px #111;
        -webkit-box-shadow: 0px 0px 9px #111;
        box-shadow: 0px 0px 9px #111;
    }
    /* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
    .app .ui-listview:not(#listLeft) .ui-btn:hover {
        -moz-box-shadow: 0px 0px 12px #387bbe;
        -webkit-box-shadow: 0px 0px 12px #387bbe;
        box-shadow: 0px 0px 12px #387bbe;
    }
    /* Animate focus and hover style, and resizing. */
    .app .ui-listview:not(#listLeft) .ui-btn {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
    }
}
/* Second breakpoint. 4 column layout. Tiles will be 250x250 pixels again at the breakpoint. */
@media all and (min-width: 1020px){
    .app .ui-content {
        padding: 10px;
    }
    /* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
    By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
    .app .ui-listview:not(#listLeft) {
        max-width: 1000px;
        margin: 0 auto;
    }
    /* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
    but we stick to percentage values for demo purposes. */
    .app .ui-listview:not(#listLeft) .ui-li.ui-btn {
        width: 23%;
        height: 230px;
        margin: 10px 1%;
    }
}
/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */